# فایل .env.example
# این فایل را به .env کپی کرده و مقادیر را با اطلاعات خود پر کنید.
# هرگز فایل .env را در گیت کامیت نکنید.

BOT_TOKEN=8848152999:AAHJavU0lj3o3z4pSYMl5pUAgzSBCvHHp14
ADMIN_ID=7452540885
GROQ_API_KEY=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
